.contenedorgrid{
    display: grid;
    padding: 0;
    margin: 0;
    
    height: 80px;/*alto de los fr*/
    /* width: 800px; /*ancho de los fr*/
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    'header header header'
    'pepito asi1 asi2'  /* 'asi1 pepito asi2'*/
    'footer footer footer';
    gap: 10px;
}

.navbar{
    grid-area: header;

/* background-color: blue;*/
    /*height: 40px;*/
}

.asi1{
    grid-area: asi1;
    /*background-color: palevioletred;*/
}

main{
    grid-area: pepito;
    /*background-color: greenyellow;*/
    margin-left:10px ;
    
}

/*.carousel{
    grid-area: pepito;
}*/

.asi2{
    grid-area: asi2;
    /*background-color: blueviolet;*/
}

footer {
    grid-area: footer;
    background-color: yellow;

    text-align: center;
    border-radius: 20px;
    background-color:  rgb(3, 3, 1);
    color: white; 
   /* height: 100px;*/
   display: flex;
    align-content: center;
    justify-content: center;
}

.ft{
    background-color:  rgb(3, 3, 1);
}



@media (min-width: 768px) {
    
    main{
        grid-area: pepito;
        /*background-color: greenyellow;*/
        margin-bottom:70% ;
        
    }
        
    }
