
table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: lightslategray;
    border: 1px solid lightslategray;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}



.list {
    padding: 8px;
    margin:4px;
    background-color:black; /*rgb(26, 44, 124);*/
    color: white;
    border: 2px #1d1a39 solid;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    font-weight: 600;
}

.list:hover {
    background-color: #150ba8;
    border: 1px white solid;
    color: white;
}