
 
  body {
      font-size: 16px;
      font-family:"Noto Sans", sans-serif;
      /* background-image: linear-gradient(to top, var(--fondo) 0%, var(--blanco) 100%);*/
      margin: 0;
      padding: 0;
  
  }
  
  /*saque sobra*/
  
  /*destinos*/
  .contenedor-mayor {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row; /* Para que los contenedores estén uno encima del otro */
      /* margin-top: 3%;*/
      /*background-color: gray;*/
      padding: 10px;
      
      
  }
  
  .contenedor-destinos {
      display: inline-block;
      margin-right: 20px; /* Ajusta el espacio entre las imágenes */
      position: relative;
      width: 400px; /* Ancho deseado para los contenedores */
      height: 500px; /* Altura deseada para los contenedores */
      overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde */
  }
  
  .contenedor-destinosb {
      display: inline-block;
      margin-right: 20px; /* Ajusta el espacio entre las imágenes */
      position: relative;
      width: 400px; /* Ancho deseado para los contenedores */
      height: 500px; /* Altura deseada para los contenedores */
      overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde */
  }
  
  .contenedor-destinosc {
      display: inline-block;
      margin-right: 20px; /* Ajusta el espacio entre las imágenes */
      position: relative;
      width: 400px; /* Ancho deseado para los contenedores */
      height: 500px; /* Altura deseada para los contenedores */
      overflow: hidden; /* Oculta cualquier parte de la imagen que se desborde */
  }
  
  
  .texto-dest {
      position: absolute;
      top: 95%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      background-color: rgba(255, 255, 255, 0.7);
      padding: 10px;
      text-align: center;
      font-size: 2.5rem;
      color: var(--negro);
      transition: transform 0.3s ease; /* Transición suave para la animación */
      font-size: 18px;
  }
  
  .contenedor-destinos:hover .texto-dest{
      transform: translate(-50%, -50%) scale(1.1); /* Escala la imagen al 110% */
      /* color:  rgb(11, 85, 75);/*si borro esto queda azul*/
      color: blue;
  }
  
  .contenedor-destinosb:hover .texto-dest{
      transform: translate(-50%, -50%) scale(1.1); /* Escala la imagen al 110% */
      /* color:  rgb(11, 85, 75);/*si borro esto queda azul*/
      color: blue;
  }
  
  .contenedor-destinosc:hover .texto-dest{
      transform: translate(-50%, -50%) scale(1.1); /* Escala la imagen al 110% */
      /* color:  rgb(11, 85, 75);/*si borro esto queda azul*/
      color: blue;
  }
  
  a {
      text-decoration: none;
      color: inherit; /* Para heredar el color del texto */
      transition: transform 0.3s ease; /* Transición suave para la animación */
  }
  
  .todas{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
      height: 100%; /* Hace que la imagen ocupe todo el alto del contenedor */
      object-fit: cover; /* Escala la imagen para que ocupe todo el contenedor */
      object-position: center; /* Centra la imagen dentro del contenedor */
      transition: transform 0.3s ease; /* Transición suave para la animación */
  }
  
  .contenedor-destinos:hover img {
      transform: scale(1.1); /* Escala la imagen al 110% */
  }
  
  .contenedor-destinosb:hover img {
      transform: scale(1.1); /* Escala la imagen al 110% */
  }
  
  .contenedor-destinosc:hover img {
      transform: scale(1.1); /* Escala la imagen al 110% */
  }
  
  main {
    display: flex; /* Activar Flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    /*min-height: 100vh; /* Ocupa toda la altura de la pantalla */
    

}


  
    /*(max-width:780px)  celuuuuuu*/
    @media  (max-width:780px) {

    .contenedor-mayor {
        display: flex;
        justify-content: center;
        align-items: center;
          flex-direction: column; /* Para que los contenedores estén uno encima del otro */
        /* margin-top: 3%;*/
        margin-bottom: 0;


    }

    main{
        grid-area: pepito;
        /*background-color: greenyellow;*/
        margin-bottom:8vh ;     
    }


    .contenedor-destinos {
        margin:10px; /* Ajusta el espacio entre las imágenes */
    }
    
    .contenedor-destinosb {
        margin:10px;  /* Ajusta el espacio entre las imágenes */
    }
    
    .contenedor-destinosc {
        margin:10px;  /* Ajusta el espacio entre las imágenes */
    }
}

    /*(max-width:780px)  celuuuuuu*/
    @media  (min-width:780px) {

        .contenedor-mayor {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10vh;
            margin-top: 20vh;
            margin-bottom: 12vh;
        }


        
    }